DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=nome_do_banco
DB_USERNAME=seu_usuario
DB_PASSWORD=sua_senha
ETL_EMAIL=email_etl
ETL_PASSWORD=senha_etl
ADMIN_EMAIL=email_admin
ADMIN_PASSWORD=senha_admin
DEV_EMAIL=email_dev
DEV_PASSWORD=senha_dev
MANAGER_EMAIL=email_manager
MANAGER_PASSWORD=senha_manager